LM/HITO_4_1/EJERCICIO3/ejercicio3.dtd

<!ELEMENT facturas (factura+)>
<!ELEMENT factura (num_linea,cod_cliente,articulo)>
<!ELEMENT num_linea (#PCDATA)>
<!ELEMENT cod_cliente (#PCDATA)>
<!ELEMENT articulo (cod_articulo, nombre_articulo, cantidad, precio_unitario)>
<!ELEMENT cod_articulo (#PCDATA)>
<!ELEMENT nombre_articulo (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT precio_unitario (#PCDATA)>
<!ATTLIST factura facturaID CDATA #REQUIRED>