LM/HITO_4_1/EJERCICIO1/ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="poemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="poema" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titulo" type="xs:string"/>
              <xs:element name="verso" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>  
               <xs:attribute name="fecha" type="xs:string" use="required"/>        
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
